:root {
  /* https://lyft-colorbox.herokuapp.com/#steps=11#hue_start=202#hue_end=202#hue_curve=linear#sat_start=5#sat_end=70#sat_curve=easeOutSine#sat_rate=150#lum_start=100#lum_end=25#lum_curve=easeOutSine#minor_steps_map=none */
  --color-primary-0: #ecf8ff;
  --color-primary-10: #c5e9fd;
  --color-primary-20: #9cd6f8;
  --color-primary-30: #72c1ef;
  --color-primary-40: #4ba9e0;
  --color-primary-50: #2a91cc;
  --color-primary-60: #1379b4;
  --color-primary-70: #056298;
  --color-primary-80: #004d7a;
  --color-primary-90: #003b5d;
  --color-primary-100: #002840;

  /* https://lyft-colorbox.herokuapp.com/#steps=11#hue_start=0#hue_end=0#hue_curve=linear#sat_start=0#sat_end=1#sat_curve=easeOutSine#sat_rate=27#lum_start=100#lum_end=5#lum_curve=easeInOutSine#minor_steps_map=none */
  --color-neutral-0: #ffffff;
  --color-neutral-10: #f9f8f8;
  --color-neutral-20: #eae9e9;
  --color-neutral-30: #d1d1d1;
  --color-neutral-40: #afafaf;
  --color-neutral-50: #878686;
  --color-neutral-60: #5e5e5e;
  --color-neutral-70: #3c3b3b;
  --color-neutral-80: #232222;
  --color-neutral-90: #131313;
  --color-neutral-100: #0d0d0d;

  /* https://lyft-colorbox.herokuapp.com/#steps=11#hue_start=10#hue_end=10#hue_curve=linear#sat_start=5#sat_end=70#sat_curve=easeOutSine#sat_rate=150#lum_start=100#lum_end=20#lum_curve=easeInOutSine#minor_steps_map=none */
  --color-error-0: #ffefec;
  --color-error-10: #facbc2;
  --color-error-20: #eda394;
  --color-error-30: #d87a67;
  --color-error-40: #bc533f;
  --color-error-50: #9a3420;
  --color-error-60: #771f0d;
  --color-error-70: #5a1203;
  --color-error-80: #450c00;
  --color-error-90: #390900;
  --color-error-100: #330800;

  /* https://lyft-colorbox.herokuapp.com/#steps=11#hue_start=35#hue_end=42#hue_curve=linear#sat_start=5#sat_end=79#sat_curve=easeOutSine#sat_rate=140#lum_start=100#lum_end=20#lum_curve=easeInOutSine#minor_steps_map=none */
  --color-warning-0: #fff8ed;
  --color-warning-10: #fae3c1;
  --color-warning-20: #edc991;
  --color-warning-30: #d8ab62;
  --color-warning-40: #bc8b38;
  --color-warning-50: #9a6c1a;
  --color-warning-60: #775107;
  --color-warning-70: #5a3c00;
  --color-warning-80: #452f00;
  --color-warning-90: #392700;
  --color-warning-100: #332400;

  /* https://lyft-colorbox.herokuapp.com/#steps=11#hue_start=84#hue_end=68#hue_curve=linear#sat_start=5#sat_end=60#sat_curve=easeOutSine#sat_rate=164#lum_start=100#lum_end=20#lum_curve=easeInOutSine#minor_steps_map=none */
  --color-success-0: #f7ffea;
  --color-success-10: #e5fac3;
  --color-success-20: #d0ed98;
  --color-success-30: #b6d86d;
  --color-success-40: #99bc46;
  --color-success-50: #7b9a27;
  --color-success-60: #5f7713;
  --color-success-70: #495a08;
  --color-success-80: #394503;
  --color-success-90: #303901;
  --color-success-100: #2c3301;
}
